<div class="p-8 space-y-8">
  <%= render Pages::PageHeaderComponent.new.with_content("Contracts") %>
  <%= render DataTables::TableComponent.new(
    headers: %w[Submission Buyer Licenses Notes],
    action_headers: %w[Show Edit Destroy],
    rows: @contracts.map do |contract|
      [
        render(Misc::ViewAssociationComponent.new(object: contract.submission)),
        render(Misc::ViewAssociationComponent.new(object: contract.buyer)),
        render(Misc::ViewMultAssociationComponent.new(
          collection: contract.licenses,
          options: licenses_path(contract_id: contract.id)
        )),
        contract.notes,
        render(Misc::StyledLinkToComponent.new(name: "Edit", options: edit_contract_path(contract))),
        render(Misc::StyledLinkToComponent.new(name: "Show", options: contract)),
        render(Misc::StyledLinkToComponent.new(
          name: "Destroy",
          options: contract,
          html_options: {
            method: :delete,
            data: { confirm: 'Are you certain you want to delete this?' }
          }
        ))
      ]
    end
  ) %>
  <%= render Buttons::WhiteButtonComponent.new(url: new_contract_path).with_content("New Contract") %>
</div>