<div class="p-8 space-y-8">
  <%= render Pages::PageHeaderComponent.new.with_content("New Contract") %>
  <%= render Forms::ContractFormComponent.new(current_user: @current_user, contract: @contract) %>
  <%= render Buttons::WhiteButtonComponent.new(url: contracts_path).with_content("All Contracts") %>
</div>