<div class="p-8 space-y-8">
  <%= render DataTables::DataCardComponent.new(title: "Contract Information") do |rootComp|
    rootComp.data_row(
      key: "Notes",
      value: @contract.notes,
    )
    rootComp.data_row(
      key: "Associations",
      value: render(DataTables::DataCardComponent.new) do |associationsComp|
        associationsComp.data_row(
          key: "Submission",
          value: render(Misc::ViewAssociationComponent.new(object: @contract.submission))
        )
        associationsComp.data_row(
          key: "Buyer",
          value: render(Misc::ViewAssociationComponent.new(object: @contract.buyer))
        )
        associationsComp.data_row(
          key: "Licenses",
          value: render(Misc::ViewMultAssociationComponent.new(
            collection: @contract.licenses,
            options: licenses_path(contract_id: @contract.id)
          ))
        )
      end
    )
    rootComp.data_row(key: "Files", value: render(DataTables::FilesCardComponent.new(files: @contract.files)))
    rootComp.data_row(key: "Metadata", value: render(DataTables::MetadataCardComponent.new(object: @contract)))
  end %>
  <div class="flex space-x-4">
    <%= render Buttons::WhiteButtonComponent.new(url: edit_contract_path(@contract)).with_content("Edit") %>
    <%= render Buttons::WhiteButtonComponent.new(url: contracts_path).with_content("All Contracts") %>
  </div>
</div>