<div class="p-4 sm:p-16 flex items-center justify-center min-h-screen">
  <div class="max-w-md w-full flex flex-col space-y-4">
    <h1 class="text-4xl tracking-wider leading-tight text-gray-800 font-extrabold">Reset Password</h1>
    <%= render Forms::ResetPasswordFormComponent.new(token: @token) %>
  </div>
</div>