<div class="p-8 space-y-8">
  <%= render(Pages::PageHeaderComponent.new) do "Licenses" end %>
  <%= render(DataTables::TableComponent.new(
    headers: [
      "Contract",
      "Work"
    ],
    action_headers: [
      "Show",
      "Edit",
      "Destroy"
    ],
    rows: @licenses.map do |license|
      [
        render(Misc::StyledLinkToComponent.new(name: license.contract.id, options: contract_path(license.contract))),
        render(Misc::StyledLinkToComponent.new(name: license.work.title, options: work_path(license.work))),
        render(Misc::StyledLinkToComponent.new(name: "Edit", options: edit_license_path(license))),
        render(Misc::StyledLinkToComponent.new(name: "Show", options: license_path(license))),
        render(Misc::StyledLinkToComponent.new(name: "Destroy", options: license_path(license), html_options: { method: :delete, data: { confirm: 'Are you certain you want to delete this?' } }))
      ]
    end
  )) %>
  <%= render(ButtonComponent.new(url: new_license_path)) do "New License" end %>
</div>
