<div class="p-8 space-y-8">
  <%= render(Pages::PageHeaderComponent.new) do "New License" end %>
  <%= render(Forms::LicenseFormComponent.new(current_user: @current_user, license: @license)) %>
  <%= render(ButtonComponent.new(url: licenses_path)) do "All Licenses" end %>
</div>
