<div class="p-8 space-y-8">
  <%= render(Pages::PageHeaderComponent.new) do "New Buyer" end %>
  <%= render(Forms::BuyerFormComponent.new(buyer: @buyer)) %>
  <%= render(ButtonComponent.new(url: buyers_path)) do "All Buyers" end %>
</div>
