<div class="p-8 space-y-8">
  <%= render(Pages::PageHeaderComponent.new) do "Submissions" end %>
  <%= render(DataTables::TableComponent.new(
    headers: [
      "Status",
      "Work",
      "Buyer",
      "Contracts"
    ],
    action_headers: [
      "Show",
      "Edit",
      "Destroy"
    ],
    rows: @submissions.map do |submission|
      [
        render(Misc::SubmissionStatusBadgeComponent.new(submission: submission)),
        render(Misc::StyledLinkToComponent.new(name: submission.work.title, options: work_path(submission.work))),
        render(Misc::StyledLinkToComponent.new(name: submission.buyer.name, options: buyer_path(submission.buyer))),
        if Contract.where(submission_id: submission.id).present?
          render(Misc::StyledLinkToComponent.new(name: "View (#{Contract.where(submission_id: submission.id).length})", options: contracts_path(:submission_id => submission.id)))
        else
          "None"
        end,
        render(Misc::StyledLinkToComponent.new(name: "Edit", options: edit_submission_path(submission))),
        render(Misc::StyledLinkToComponent.new(name: "Show", options: submission_path(submission))),
        render(Misc::StyledLinkToComponent.new(name: "Destroy", options: submission_path(submission), html_options: { method: :delete, data: { confirm: 'Are you certain you want to delete this?' } }))
      ]
    end
  )) %>
  <%= render(ButtonComponent.new(url: new_submission_path)) do "New Submission" end %>
</div>
